.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-button {
    width: 100px;
    height: 50px;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.hidden {
    display: none !important;
}
